body { 
    background-image: url("dotted.png");
    background-color: black;
    animation: dotty 10s linear infinite;
}

@keyframes dotty {
    from {background-position: bottom right;}
    to {background-position: top right;}
  }

h1 {
    font-family: "jaro";
}